@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@import "leaflet-fullscreen/dist/leaflet.fullscreen.css";
@import "leaflet-measure/dist/leaflet-measure.css";
@import "leaflet-draw/dist/leaflet.draw.css";

@theme {

  --color-foreground: #232C33;
  --color-background: #fbfbfb;

  --color-deepteal-50:  #E8F3F1;
  --color-deepteal-100: #CDE1DD;
  --color-deepteal-200: #9BC3BB;
  --color-deepteal-300: #6BA097;
  --color-deepteal-400: #4D7C73;
  --color-deepteal-500: #2D4A45; /* base */
  --color-deepteal-600: #253D39;
  --color-deepteal-700: #1D312D;
  --color-deepteal-800: #152421;
  --color-deepteal-900: #0E1816;

  --color-ocean-50:  #EAF4F6;
  --color-ocean-100: #D1E6EA;
  --color-ocean-200: #A7CED3;
  --color-ocean-300: #7DB6BC;
  --color-ocean-400: #5D9DA4;
  --color-ocean-500: #4A7A85; /* base */
  --color-ocean-600: #3C616A;
  --color-ocean-700: #304D55;
  --color-ocean-800: #23383F;
  --color-ocean-900: #172629;

  --color-sage-50:  #F1F5F3;
  --color-sage-100: #DDE7E2;
  --color-sage-200: #BBCFC5;
  --color-sage-300: #99B7A8;
  --color-sage-400: #85A492;
  --color-sage-500: #7A9B8E; /* base */
  --color-sage-600: #648277;
  --color-sage-700: #50685F;
  --color-sage-800: #3B4E47;
  --color-sage-900: #293531;

  --color-cream-50:  #FFFBF3;
  --color-cream-100: #FEF7E8;
  --color-cream-200: #FDF0D1;
  --color-cream-300: #FAE6B4;
  --color-cream-400: #F7D78C;
  --color-cream-500: #F4E8C1; /* base */
  --color-cream-600: #E5D4A1;
  --color-cream-700: #CBB77D;
  --color-cream-800: #A89059;
  --color-cream-900: #7F6B3A;

  --color-beige-50:  #FFFBF5;
  --color-beige-100: #FBF6EA;
  --color-beige-200: #F5ECD4;
  --color-beige-300: #EFE1BD;
  --color-beige-400: #E8DCC0; /* base */
  --color-beige-500: #DAC9A4;
  --color-beige-600: #C2AD81;
  --color-beige-700: #9F8A60;
  --color-beige-800: #7C6843;
  --color-beige-900: #564729;

  --color-pearl-50:  #FFFFFF;
  --color-pearl-100: #FDFDFC;
  --color-pearl-200: #FBFAF8;
  --color-pearl-300: #F9F7F4; /* base */
  --color-pearl-400: #F1EFEA;
  --color-pearl-500: #E5E3DE;
  --color-pearl-600: #D0CDC8;
  --color-pearl-700: #B3B0AB;
  --color-pearl-800: #8E8C87;
  --color-pearl-900: #686561;
}


body {
  color: var(--color-foreground);
  background-color: var(--color-background) ;
}